h1 {
    font-family: 'Onest', sans-serif;
    margin: auto;
    text-align: center;
    color: rgb(202, 66, 79);
    font-weight: 800;
    margin-bottom: 50px;
}

.emailToCheck {
    width: 450px;
    height: 200px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 30px;
}

label {
    font-weight: 400;
}

input {
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(186, 186, 186);
}

[type = "submit"] {
    width: 120px;
    height: 60;
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(236, 169, 115);
    border-color: rgb(211, 146, 93); 
} 

[type = "submit"]:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

[type = "submit"]:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}

[type = "submit"]:active {
    top: 1px;
}