p {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #620a1e;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 2px solid #ffffff;
  color: #620a1e;
  padding: 10px;
  text-align: left;
  background-color: rgba(255, 229, 84, 0.8);
}

th {
  text-transform: capitalize;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: rgba(231, 134, 64, 0.8);
}

h1 {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  text-align: center;
  color: rgb(202, 66, 79);
  font-weight: 800;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#reservations-container {
  margin-top: 10px;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%; /* Ustaw maksymalną szerokość tabeli */
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
  th,
  td {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(231, 134, 64, 0.8);
}
