.heading {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  text-align: center;
  color: #ca424f;
  font-weight: 800;
  margin-bottom: 50px; }

.form {
  width: 450px;
  height: auto;
  text-align: center;
  background-color: white;
  margin: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; }

.confirmationForm {
  width: 450px;
  height: auto;
  text-align: center;
  background-color: #e3e2e2;
  margin: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; }

label {
  font-family: "Montserrat", sans-serif;
  color: #620a1e;
  font-weight: 400;
  display: block;
  margin-bottom: 10px; }

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #8e7c6c; }

.C {
  width: 100%;
  background-color: #d2d0d0;
  color: #595959;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #bbaea4; }

[type="submit"] {
  font-family: "Montserrat", sans-serif;
  width: 50%;
  height: 60px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: center;
  background-color: #eca973;
  border-color: #d3925d;
  border-radius: 30px; }

[type="submit"]:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white; }

[type="submit"]:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s; }

[type="submit"]:active {
  top: 1px; }
