.form {
  width: 450px;
  height: auto;
  text-align: center;
  background-color: white;
  margin: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; }

.confirmationForm {
  width: 450px;
  height: auto;
  text-align: center;
  background-color: #e3e2e2;
  margin: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; }

label {
  font-family: "Montserrat", sans-serif;
  color: #620a1e;
  font-weight: 400;
  display: block;
  margin-bottom: 10px; }

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #8e7c6c; }

.C {
  width: 100%;
  background-color: #d2d0d0;
  color: #595959;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #bbaea4; }

[type="submit"] {
  font-family: "Montserrat", sans-serif;
  width: 50%;
  height: 60px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: center;
  background-color: #eca973;
  border-color: #d3925d;
  border-radius: 30px; }

input[type="submit"]:hover {
  background-color: #ac4a23;
  color: #cf6969; }

.ratingStars {
  background: #ffffff;
  height: 50px;
  width: 250px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.ratingStars input{
  position: absolute;
  left: -99999px;
}

.ratingStars label {
  width: 30px;
  height: 30px;
  padding: 5px;
  color: transparent;
}

.ratingStars label::before {
  content: '★';
  color: #c0c0c0;
  font-size: 30px;
  line-height: 30px;
  margin-right: -100%;
}

.ratingStars label:hover::before,
.ratingStars label:hover ~ label::before,
.ratingStars input:checked ~ label::before {
  color: #ac4a23;
}