body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-image: url("https://cdn.dribbble.com/users/10810972/screenshots/17553167/media/e982b5f1d323488d60fc19bee82f88af.png?compressu003d1u0026resizeu003d400x300u0026verticalu003dcenter");
  background-size: cover;
  background-repeat: no-repeat; }

.greeting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 20px; }

.greeting {
  font-family: "Codystar", sans-serif;
  color: #e78b44;
  font-weight: 1000;
  font-size: 50px;
  list-style: none;
  padding: 20px;
  text-align: center; }

.logo {
  text-align: center; }

.shop-name {
  font-family: "Notable", sans-serif;
  font-size: 70px;
  color: #e45e57; }

.heading {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  text-align: center;
  color: #ae4642;
  font-weight: 800;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.65);
  width: 350px;
  border-radius: 20px; }

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 40vh; }

.nav-bar {
  width: 100%; }

.nav-pills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 10px; }

.nav-item {
  margin: 0 10px; }

.header {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #e45e57;
  font-size: 25px;
  font-weight: 400; }

.header:hover {
  color: #752a27; }

.main {
  font-family: "Montserrat", sans-serif;
  background-color: #f8b2b6;
  color: white;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px; }

.main:hover {
  background-color: #c67a7e;
  color: #ffd080; }

header {
  margin-top: 20px;
  margin-bottom: 20px; }

.footer-bar {
  width: 100%;
  margin-top: auto; }

footer {
  margin-top: auto; }

.footer {
  color: #e45e57;
  font-size: 20px;
  font-weight: 500; }

.footer:hover {
  color: #a4302a; }

.footer-text {
  color: #e9743a;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0); }
